h1{
    font-size: clamp(2rem, 3vw, 3rem);
}
.about-section{
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    position: relative;
    z-index: 9;
}

.about-descript-wrapper{
    display: flex;

    padding: 30px 0 50px 0;
    gap: 2em;
}
.about-descript{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1;
    justify-content: center;
    gap: 15px;
  
}
.about-descript> h1{
    width: 90%;
    margin: 0 auto;
}
.about-descript> p{
    width: 90%;
    margin: 0 auto;
}
.about-image-wrapper{
    flex: 1.25;
    position: relative;

}
.about-banner{
    width: clamp(300px, 85%, 700px);
    margin: auto;
    border-radius: 0.25em;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.4);
}
.about-enjoying{
    width: clamp(100px, 25%, 400px);
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    bottom: -50px;
    right: 20px;
    border: 15px aliceblue solid;
}
@media only screen and (max-width: 920px){
    .about-descript-wrapper{
        flex-direction: column;
    }
    .about-image-wrapper{
        width: 90%;
        margin: 0 auto;
    }
    .about-enjoying{
        width: clamp(100px, 20%, 400px);
        right: 0;
    }
}

.leaders-section{
    padding: 80px 0;
    display: flex;
    flex-direction: column;
    background-color: white;
    position: relative;
    z-index: 9;
}
.leaders-section> h1{
    width: fit-content;
    margin: 0 auto 15px auto;
}
.leaders-section> p{
    width: 90%;
    margin: 0 auto;
    text-align: center;
}
.leaders-wrapper{
    width: 90%;
    margin: 50px auto 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2em;
    padding-bottom: 50px;
    position: relative;
}
.flip-cards{
    display: flex;
    position: relative;

    width: clamp(250px, 20vw, 350px);
    height: clamp(270px, 25vw, 370px);
    perspective: 1000px; 
    transform-style:preserve-3d; 
    transition: transform 1s ease-in-out; 
}
.flipping-card{
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s ease;
}
.card-front,
.card-back{
   
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
}
.card-back{
    position:absolute;
    transform:rotateY(180deg); 
    
    border-radius: 0.25em;
    display: flex;
    flex-direction: column;
}
.flip-cards:hover .flipping-card{
  transform:rotateY(180deg); 
}
.leaders{
    position: absolute;
    bottom: 10px;
    left: 20px;
}
.leaders> h3,
.leaders> p{
    color: rgb(237, 103, 14);
    margin: 0;
    font-weight: bolder;
}
.leaders> h3{
    font-size: clamp(0.6rem 1vw, 1rem);
}
.card-front> img{
    width: 100%;
    height: 100%;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.4);
    border-radius: 0.25em;
}
.card-back> p{
    width: 95%;
    margin: 1em auto 0 auto;
}
.card-back-image-wrap{
    width: 90%;
    display: flex;
    align-items: center;
    margin: auto auto 1em auto;
    gap: 0.5em;
}
.card-back-image-wrap> img{
    width: clamp(50px, 1.8vw, 100px);
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    border: 2px rgb(237, 103, 14) solid;
}
.card-back-image-wrap> div> h3,
.card-back-image-wrap> div> p{
    margin: 0;
}
.timeline-section{
    position: relative;
}
*{
    box-sizing: border-box;
}
.timeline-images{
    vertical-align: middle;
    max-width: 100%;
    display: inline-block;
    border-radius: 0.25em;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.4);
}
.margin-bottom-heading> h3{
    font-size: clamp(2rem, 3vw, 3rem);
    margin: 0;
   /* background: #ff6a00;
    background: -webkit-linear-gradient(
        to right,
        #ff6a00,
        #ee0979
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;*/

    width: fit-content;
    display: flex;
    justify-self: center;
}
.section-timeline-wrap{
    z-index: 9;
    position: relative;

}
.container-wrap{
    width: 100vw;

    margin-left: -150px;
    margin-right: auto;
}
.margin-bottom{
    margin-bottom: 32px;
}
.timeline-heading-wrapper> p{
    letter-spacing: -0.02em;
  
}
.section-timeline-head{
    background-color: aliceblue;
}
.padding-vertical{
    padding-top: 20px;
    padding-bottom: 20px;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-left: 300px;
    
}
.timeline-heading-wrapper{
    color: #000000;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

    
}
.timeline-component{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    position: relative;
}
.timeline-item{
    z-index: 2;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-template-rows: auto;
    grid-template-columns: 1fr 180px 1fr;
    grid-auto-columns: 1fr;
    padding-top: 80px;
    padding-bottom: 80px;
    display: grid;
    position: relative;
    
}

.timeline-left{
    text-align: right;
    justify-content: flex-end;
    align-items: stretch;
}
.timeline-center{
    justify-content: center;
    display: flex;
}
.timeline-date{
    color: #000000;
    position: sticky;
    top: 50vh;
}
.timeline-date> p{
    font-size: clamp(30px, 3vw, 50px);
    margin: 0;
}
.timeline-text{
    color: #000000;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.3;
}
.timeline-circle{
    background-color: #000000;
    border-radius: 100%;
    width: 15px;
    min-width: 15px;
    max-width: 15px;
    height: 15px;
    min-height: 15px;
    max-height: 15px;
    position: sticky;
    top: 50vh;
    box-shadow: 0 0 0 8px aliceblue;
}
.timeline-progress{
    z-index: 2;
    background-color: #414141;
    width: 3px;
    height: 100%;
    position: absolute;

}
.timeline-progress-bar{
    z-index: 1;
    background: #ff6a00;
    background: -webkit-linear-gradient(
        to bottom,
        #ff6a00,
        #ee0979
    );
    background: linear-gradient(
        to bottom,
        #ff6a00,
        #ee0979
    );
    width: 3px;
  
    height: 50vh;
    position: fixed;
    inset: 0 auto 30vh;
}
.overlay-fade-top{
    background-image: linear-gradient(#ffffff, #ffffff);
    height: 72px;
    position: absolute;
    inset: 0% 0% auto;
    z-index: 2;
}
.overlay-fade-bottom{
    background-image: linear-gradient(to top, #ffffff, #ffffff);
    height: 72px;
    position: absolute;
    inset: auto 0% 0%;
    z-index: 2;
}
@media only screen and (max-width: 768px){
    .container-wrap{
        margin: 0 auto;
        width: 95%;
    }
    .padding-vertical{
        margin: 0;
    }
    .margin-bottom-heading{
        width: 90%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .timeline-item{
        grid-template-columns:  64px 1fr;
        width: 100%;
    }
    .timeline-left{
        text-align: left;
        grid-area: 1 / 2 / 2/ 3;
    }
    .timeline-center{
        justify-content: flex-start;
        grid-area: 1 / 1 / 3 / 2;
    }
    .timeline-right{
        grid-area: span 1 / span 1 / span 1 / span 1;
    }
    .timeline-date{
        margin-bottom: 24px;
        font-size: 36px;
    }
    .timeline-text{
        font-size: 20px;
    }
    .timeline-progress{
        left: 6px;
    }
}

.reserve-section{
    background-color: white;
    position: relative;
    z-index: 9;
    display: flex;
    padding: 80px 30px;
    overflow: hidden;
     
}
.reserve-section::after{
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0,0,0,0.3);
    z-index: -1;
}
.reserve-section::before{
    content: "";
    position: absolute;
    inset: 0;
    background-image:  url("../images/index/firstSection/first\ section\ 1.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter:blur(6px);
    z-index: -1;
}
.reservation-descript-wrap{
    flex: 1.5;
    display: flex;
    flex-direction: column;
}
.reservation-descript-wrap> h1,
.reservation-descript-wrap> p{
    color: #F5F1E8;
    font-weight: 700;
}

.reservation-vutton-wrap{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-reserve-button{
    color: aliceblue;
    padding: clamp(15px, 2vw, 40px) clamp(20px, 3vw, 80px);
    font-size: clamp(1rem, 1.5vw, 3rem);
    font-weight: bolder;
    border: 2px solid aliceblue;
    border-radius: 2em;
    position: relative;
}
.about-reserve-button::after{
    content: "";
    position: absolute;
    inset: 0; 
    border: 2px solid #C6A75E;
    border-radius: 2em;
    transform: scale(0.8);
    opacity: 0;
    transition: all 0.3s ease;
}
.about-reserve-button:hover::after{
    transform: scale(1.02);
    opacity: 1;
}
.about-reserve-button:hover{
    border: 2px solid transparent;
    color: #C6A75E;
}
.reserve-section> div> h1{
    margin: 0;
    padding: 0;
}
@media only screen and (max-width: 540px){
    .reserve-section{
        flex-direction: column;
        padding: 50px 0;
        gap: 1em;
    }
    .reservation-descript-wrap{
        width: 95%;
        margin: 0 auto;
        text-align: center;
    }
}