body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: black;
}
button:hover{
    cursor: pointer;
}
p, button{
    font-size: clamp(0.9rem, 1.1vw, 1.6rem);
    margin: 0;
    padding: 0;
}
h3{
    font-size: clamp(1.1rem, 1.5vw, 1.8rem);
    margin: 0;
}
h4{
    font-size: clamp(1rem, 1.4vw, 1.6rem);
    margin: 0;
}
.reserve-first-section{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    border: 1px rgb(207, 207, 207) solid;
}
.section-sub-wrapper{
    display: flex;
    margin-top: 20px;
        flex-wrap: wrap;
    border: 1px red solid;
}
.room-left-panel{
    margin-left: 10px;
}
.left-panel-images{
    width: clamp(150px, 15vw, 250px);
    
    display: grid;
    
    grid-template-columns: repeat(auto-fit,minmax(80px, 1fr));
   
    gap: 3px;
}
.left-panel-images>img{
   /* width: clamp(150px, 15vw, 250px);*/
    width: 100%;

    border-radius: 0.25em;
}
.left-panel-images>img:first-child{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}
.left-panel-images>img:nth-child(2){
    width: clamp(80px, 7.5vw, 125px);
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}
.left-panel-images>img:last-child{
    width: clamp(80px, 7.5vw, 125px);
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}
.left-panel-descript{
    display: flex;
    flex-direction: column;
    gap: 0.25em;
    padding: 10px 0;
}
.left-panel-descript> li{
    display: flex;
    align-items: center;
    gap: 10px;
}
.left-panel-descript> li> img{
    width: clamp(15px, 1.5vw, 30px);
}
.more-button{
    padding: 3px 10px;
}
.room-right-panel{
    display: grid;
    
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    grid-auto-rows: min-content;
    border: 1px rgb(196, 194, 194) solid;
    flex: 1;
    margin: 0 20px;
    border-radius: 0.25em;
    padding: 0;
}
.first-room-right-panel{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(222, 222, 222);
    border-bottom: 1px rgb(196, 194, 194) solid;
    padding: 8px 10px;
}
.first-room-right-panel>h4:first-child,
.first-room-right-panel>h4:last-child{
    display: flex;
    flex: 1;
    justify-content: center;
}
.first-room-right-panel>h4:nth-child(2){
    display: flex;
    flex: 0.5;
    justify-content: center;
}

.right-panel-descript{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    display: flex;
    flex-direction: column;
    gap: 0.25em;
}
.right-panel-descript> li{
    display: flex;
    align-items: center;
    gap: 10px;
}
.right-panel-descript> li> img{
    width: clamp(15px, 1.5vw, 30px);
}
.second-room-right-panel{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    display: flex;
    flex: 1;
    padding: 0 10px;
    border-bottom: 1px rgb(196, 194, 194) solid;
}
.right-panel-descript{
    display: flex;
    justify-content: center;
    flex: 1;
}
.person-wrapper{
    border-left: 1px rgb(196, 194, 194) solid;
    border-right: 1px rgb(196, 194, 194) solid;
    flex: 0.5;
    display: flex;
    justify-content: center;
}
.person{
    width: 40px;

}
.price-main-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex: 1;
    padding: 20px 0;
    margin-left: 20px;
}
.price-wrapper{
    display: flex;
    flex-direction: column;
    
}
.price-wrapper> li{
    display: flex;
}
.price-main-wrapper> button{
    width: fit-content;
    padding: 5px 15px;
    margin-top: 10px;
}

.third-room-right-panel{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    display: flex;
    flex: 1;
    justify-content: space-between;
    padding: 0 10px;

    border-bottom: 1px rgb(196, 194, 194) solid;
}