
body{

    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: black;
}
button:hover{
    cursor: pointer;
}
p{
    font-size: clamp(0.9rem, 1.3vw, 1.8rem);
}
.navigation-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 0;
}
.hotel-logo{
    width: clamp(4em, 8vw, 7em);
    margin: 0 0 0 clamp(2em, 8vw, 10em);
}
.navigation-links{
    display: flex;
    margin: 0 8em 0 auto;
    gap: 2em;
    padding: 0;
}
.links{
    font-size: clamp(1.1rem, 2vw, 2.5rem);
    font-weight: bolder;
    position: relative;
}
.nav-link::after{
  content: "";
  position: absolute;
  left: 50%;
  bottom: -20px;
  height: 3px;
  background-color: red;
  transform: translateX(-50%) scaleX(0.5);
  transform-origin: center;
  transition: transform 0.3s ease;
}
.nav-link:hover::after{
    width: 100%;
    transform: translateX(-50%) scaleX(1); 
    color: red;
}
.nav-link:hover{
    transition: transform 0.3s ease;
    color: red;
}
.first-section{
    height: clamp(350px, 50vw, 600px);
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
}
.mobile-navigation-links{
        display: none;
    }
@media only screen and (max-width: 540px){
    .navigation-links{
        display: none;
    }
    .mobile-navigation-links{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15%;
        padding: 3px 0 0 0;
        position: fixed;
        bottom: 0;
        left: 0;
        background-color: rgb(70, 185, 189);
    }
    .mobile-nav-link> img{
        width: clamp(40px, 9vw, 70px);
        height: clamp(40px, 9vw, 70px);
    }
    .mobile-navigation-links> li:nth-child(2)> a> img{
        width: clamp(35px, 7.9vw, 60px);
        height: clamp(35px, 7.9vw, 60px);
    }
    .mobile-navigation-links> li:nth-child(3)> a> img{
        width: clamp(38px, 9.5vw, 60px);
        height: clamp(38px, 9.5vw, 60px);
    }
}
.first-section-images-wrapper{
  position: absolute;
  inset: 0;
  margin: 0;
  padding: 0;
}
/* li must fill the section */
.first-section-images-wrapper> li {
  position: absolute;
  inset: 0;
}
/* images */
.room-image {
 
  width: 100%;
  height: clamp(350px, 50vw, 600px);
  opacity: 0;
  transform: translateX(100%);
  transition: transform 1s ease, opacity 1s ease;
}
/* active image */
.room-image.active {
  opacity: 1;
  transform: translateX(0);
}
/* exiting image */
.room-image.exit {
  transform: translateX(-100%);
  opacity: 0;
}
.first-section-content{
    position: relative;
    z-index: 2;
    color: white;
    width: clamp(20rem, 50vw, 30rem);
    left: 50px;
    top: 100px;
}
.first-section-content>h1{
    font-size: clamp(1.5rem, 3vw, 3.5rem);
    color:rgb(255, 255, 255);
    text-shadow:  0 0 5px rgb(0, 0, 0),
    0 0 10px rgb(0, 0, 0),
    0 0 20px rgb(0, 0, 0);
}
.first-section-content>p{
    font-size: clamp(0.9rem, 2vw, 2.5rem);
    text-shadow:  0 0 5px rgb(0, 0, 0),
    0 0 10px rgb(0, 0, 0),
    0 0 20px rgb(0, 0, 0);
}
.book-button{
    font-size: clamp(0.9rem, 2vw, 2.5rem);
    padding: 5px 20px;
    border: none;
    background-color: rgb(153, 221, 230);
    color: rgb(31, 52, 55);
    border-radius: 0.25em;
    box-shadow: 5px 5px 5px;
}
.book-button:hover{
    background-color: white;
    transition: 0.3s ease-in;
}
.second-section{
    background-color: aliceblue;
    padding-bottom: 30px;
}
.section-titles{
    text-align: center;
    padding: 50px 0 0 0;
    margin: 0;
    font-size: clamp(1.5rem, 2.8vw, 3rem);
}
.second-section> p{
    text-align: center;
    margin: 0;
    padding: 0 0 30px 0;
}
.index-room-wrapper{
    height: auto;
    margin: 0 auto;
    display: flex;
    gap: 2em;
    flex-wrap: wrap;
}
.index-room-panels{
    width: clamp(350px, 28vw, 450px);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    overflow: hidden;
}
.index-room-images{
    width: 100%;
    height: 180px;
    overflow: hidden;
}
.index-room-images>img{
    width: 100%;
    height: 100%;
}
.index-room-images>img:hover{
    transform: scale(1.2);
    transform-origin: center;
    transition: transform 0.5s ease;
}
.index-room-panels> h3{
    font-size: clamp(1.3rem, 1.8vw, 1.8rem);
    margin: 0;
    padding: 30px 0 10px 0;
    text-align: center;
}
.index-room-panels> p{
    width: 90%;
    margin: 0 auto;
    padding: 0 0 20px 0;
    text-align: center;
    color: rgb(64, 68, 71);
}
.third-section{
    display: flex;
    padding: 50px 0 30px 0;
    width: 90%;
    margin: 0 auto;
    gap: 1em;
}
.index-about-us{
    display: flex;
    flex-direction: column;   
}
.index-about-us{
    width: clamp(300px 20vw, 500px);
}
.index-about-us> h2{
    text-align: left;
    padding: 0;
}
.index-about-us> p{
    line-height: 1.5;
}
.to-about-us-button{
    font-size: clamp(0.9rem, 1.8vw, 2.5rem);
    width: fit-content;
    padding: 10px 15px;
    border: none;
    border-radius: 0.25em;
    background-color: black;
    color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}
.to-about-us-button:hover{
    background-color: rgb(64, 68, 71);
}
.third-section> img{
    width: clamp(300px, 50vw, 800px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}
@media only screen and (max-width: 768px){
    .third-section{
        flex-direction: column;
    }
    .third-section> img{
        margin: 0 auto;
    }
}

.fourth-section{
    position: relative;
    overflow: hidden;
}
.fourth-section::before{
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("../images/index/gallery/bar.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter:blur(4px);
    transform: scale(1.1);
    z-index: -1;
}
.fourth-section>h2{
    margin-bottom: 10px;
    color: white;
}
.fourth-section> div{
    position: relative;
    overflow: hidden;
    width: 95%;
    margin: 0 auto;
}
.gallery-wrapper{
    margin: 0 auto;
    padding: 30px 0;
    display: flex;
    justify-content: flex-start;
    gap: 15px;
    transition: transform 0.4s ease-in-out;
}
.gallery-wrapper>li>img{
    width: clamp(230px, 20vw, 400px);
    height: clamp(150px, 20vw, 400px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);   
}
.slider-dots{
    display: none;    
}
@media only screen and (max-width: 540px){
    .slider-dots{
        display: flex;
        justify-content: center;
        gap: 5px;
        margin-bottom: 10px;
    }
    .slider-dots> button{
        display: inline-block;
        width: 20px;
        height: 20px;
        background-color: white;
        border-radius: 50%;
    }
    .slider-dots> button.galleryActive{
        background-color: red;
    }
    .prev, .next{
        display: none;
    }
}
.prev, .next{
    background-color: rgb(153, 221, 230);
    color: rgb(0, 0, 0);
    padding: 15px 8px;
    border: none;
    border-radius: 0.25em;
    position: absolute;
    top: 55%;
    font-size: 1.3rem;
}
.prev{
    left: 5px;
}
.next{
    right: 5px;
}
.prev:hover, 
.next:hover{
    background-color: aliceblue;
}
.fifth-section{
    padding-bottom: 30px;
    background-color: aliceblue;
}
.form-map-wrapper{
    display: flex;
    justify-content: center;
    gap: 1em;
    margin-top: 30px;
}
.form-map-wrapper> form{
    width: clamp(150px, 50vw, 500px);
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}
.form-map-wrapper> form> input{
    padding: 10px 5px;
    border: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}
.form-map-wrapper> form> textarea{
    padding: 10px 5px;
    border: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}
.send-message-button{
    width: fit-content;
    padding: 10px 15px;
    border: none;
    background-color: black;
    border-radius: 0.25em;
    color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}
.send-message-button:hover{
    background-color: rgb(64, 68, 71);

}
iframe{
    width: 40%;
    height: 280px;
    border: 0; 
    border-radius: 16px;
}
@media only screen and (max-width: 540px){
    .form-map-wrapper{
        flex-direction: column;
    }
    .form-map-wrapper> form{
        gap: 1em;
    }
    .form-map-wrapper> form,
    iframe{
        width: 90%;
        margin: 0 auto;
    }
    iframe{
        margin-top: 20px;
    }
}
footer{ 
    display: flex;
    background-color: black;
    justify-content: space-evenly;
    padding: 50px 0;
    flex-wrap: wrap;
}
.footer-panels{
    display: flex;
    flex-direction: column;
    color: white;
}
.footer-panels> h3{
    font-size: clamp(1.2rem, 2vw, 1.7rem);
}
.footer-panels> ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.footer-panels> ul> li>div{
    display: flex;
}
.footer-panels> ul> li> div> p{
    margin: 0;
    font-size: clamp(0.9rem, 1.3vw, 1.8rem);
}
.footer-panels> ul> li> a{
    color: white;
    display: flex;
    align-items: center;
    font-size: clamp(0.9rem, 1.3vw, 1.8rem);
}
.footer-panels> ul> li> a:hover{
    color: red;
}
.footer-logo{
    width: clamp(10px, 1.5vw, 30px);
    margin-right: 10px;
}
.subscribe-input{
    width: 80%;
    padding: 10px 10px;
}
.subscribe-button{
    font-size: clamp(0.9rem, 1.4vw, 2rem);
    width: fit-content;
    padding: 10px 15px;
    margin-top: 15px;
    border: none;
    border-radius: 0.25em;
}
.subscribe-button:hover{
    background-color: aliceblue;
}
.alright-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    gap: 1em;
}
.alright-wrapper> p{
    margin: 0;
}
@media only screen and (max-width: 540px){
    .alright-wrapper{
        margin-bottom: 50px;
        gap: 0.5em;
    }
}